{
  "extends": [
    "@elementfi/eslint-config"
  ],
  "overrides": [
    // js files in the root dir can use `const ... = require(...)` 
    { 
      "files": [
        "./*.js",
        "tests/**/.eslintrc.js"
      ],
      "rules": {
        "@typescript-eslint/no-var-requires": "off"
      }
    }
  ]
}