# the private to key a wallet that will createa proposal.  this wallet must have enough ETH to pay
# for gas to create the proposal

PROPOSER_PRIVATE_KEY=<PRIVATE_KEY>
ALCHEMY_MAINNET_API_KEY=<ALCHEMEY_KEY>
ALCHEMY_GOERLI_API_KEY=<ALCHEMEY_KEY>