.depositInput :global(.bp3-input-left-container) {
  display: flex;
  height: 100%;
  align-items: center;
}

.depositInput :global(.bp3-input-action) {
  display: flex;
  height: 100%;
  align-items: center;
}
