{
  "extends": [
    "plugin:tailwindcss/recommended",
    "@elementfi/eslint-config"
  ],
  "plugins": [
    "tailwindcss"
  ],
  "overrides": [
    // js files in the root dir can use `const ... = require(...)` 
    {
      "files": [
        "./*.js"
      ],
      "rules": {
        "@typescript-eslint/no-var-requires": "off"
      }
    }
  ]
}